@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Variables --- */

$corePurple1: #a100ff;
$corePurple2: #7500c0;
$corePurple3: #460073;
$accentPurple5: #e6dcff;
$toCheck: #2596be;
$darkGray: #96968c;
$lightGray: #f2f2f2; /* #e6e6dc; */
$breakpoint-large: 1440px;

/* --- Global --- */
@font-face {
  font-family: 'graphik';
  src: url(./fonts/Graphik/Graphik-Regular.ttf);
  font-family: 'sectra';
  src: url(./fonts/GT_Sectra_Fine/GT-Sectra-Fine-Regular.otf);
}
body {
  margin: 30px;
  font-family: 'graphik', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}
.app-container {
  margin: 30px;

  @media (min-width: $breakpoint-large) {
    margin: 30px 300px;
  }
}
.container {
  display: inline;
  margin: 20px 10px;
}
.header-title {
  color: $corePurple2;
  font-size: 1.4rem;
  font-weight: 300;
}
.section-title {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: $lightGray;
  font-size: 1.4rem;
  font-weight: 600;
}
.box-title {
  padding: 15px;
  color: $corePurple2;
  font-size: 1.2rem;
  font-weight: 300;
}
.subsection-title {
  padding: 0 10px;
  margin: 0 10px 10px 10px;
  font-size: 0.9rem;
  text-transform: uppercase;
  line-height: 20px;
  vertical-align: middle;
  align-self: center;
  border-bottom: 2px solid $corePurple2;
  width: fit-content;
}
.workplace-addresses-table {
  border: 1px solid $accentPurple5;
  overflow: hidden;
}
.table th {
  border-radius: 0;
  font-size: 0.875rem;
  font-weight: 600;
  color: #000;
}
.btn {
  height: 2.5rem;
  min-height: 2rem;
  margin: 5px auto;

  &.margin-none {
    margin: 0;
  }
}
.btn-primary {
  color: #fff;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.dropdown {
  margin: 0 10px;

  .dropdown-content {
    z-index: 15;
  }
}

.form-input {
  display: block;
  box-sizing: border-box;
  width: 330px;
  border-radius: 4px;
  border: 1px solid $accentPurple5;
  border-bottom: 1px solid $corePurple2;
  padding: 10px;
  font-size: 0.875rem;
}
.mouse-hover:hover {
  color: $corePurple2;
  cursor: pointer;
}
.icon-btn {
  cursor: pointer;
  margin: 0 10px;
  border: none;
  background-color: transparent;
}
.user-name,
.attachments {
  padding: 0 0 20px 20px;
}
.attachments {
  input[type='file'] {
    display: none;
  }

  span.info-icon {
    display: inline-block;
    vertical-align: text-top;
    width: 10px;

    img {
      cursor: pointer;
      width: 10px;
      height: 10px;
    }
  }

  .btn {
    margin: 20px 0;
    width: 150px;
  }
}
.date-picker-container {
  z-index: 30;

  button.open-picker {
    /*margin: 0 10px;*/
  }

  .react-datepicker {
    &__header {
      font-family: 'graphik', 'Arial', sans-serif;
      font-weight: 600;
      border-bottom: 1px solid $accentPurple5;
    }

    &__month-text {
      &--keyboard-selected {
        background: none;
      }

      &--disabled {
        pointer-events: none;
      }
    }

    &__navigation {
      margin-top: 7px;
    }

    [aria-selected='true'] {
      background-color: $accentPurple5;
    }

    [role='option'] {
      font-family: 'graphik', 'Arial', sans-serif;

      &:hover {
        background-color: $corePurple2;
        color: $accentPurple5;
        transition: 0.3s;
      }
    }
  }
}

.calendar-table {
  border-collapse: collapse;
  thead {
    position: sticky;
    top: 0;
    z-index: 20;
  }

  th {
    color: #ffffff;

    &.light-purple {
      background-color: #9e4cd2;
    }

    &.medium-purple {
      background-color: #9133cd;
    }
  }

  tr {
    border: none;

    &.purple-row {
      &:nth-child(odd) {
        background-color: #f4efff;

        td:nth-child(2),
        td:nth-child(3),
        td:nth-child(4) {
          background-color: #f7f4ff;
        }
      }

      &:nth-child(even) {
        background-color: #faf8ff;

        td:nth-child(2),
        td:nth-child(3),
        td:nth-child(4) {
          background-color: #ffffff;
        }
      }

      &.first-week-border {
        box-shadow: inset 4px 0 0 0 $corePurple2, inset -4px 0 0 0 $corePurple2;

        td:not(.split-day):nth-child(4) {
          box-shadow: inset -4px 0 0 0 $corePurple2;
        }
      }
    }
  }

  tr th {
    border-radius: 0;
    line-height: 28px;
    text-align: center;
  }
}

.cell-item {
  border: none;
  line-height: 28px;
  height: 100%;
  padding: 10px;
  text-align: center;
}
.collapse {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  margin: 0;
}
.select-location {
  display: flex;
  align-items: center;
  width: max-content;

  &:hover {
    cursor: pointer;
  }

  img {
    margin-left: 8px;
    height: 15px;
  }
}
.location-details {
  margin: 15px;
  display: flex;
  max-width: 400px;

  img {
    height: 25px;
    margin-right: 5px;
  }
}

.content-container {
  padding: 20px;
  font-size: 0.875rem;
}

.map-form-container {
  .label {
    padding-top: 15px;
  }

  &.add-address {
    display: flex;
    justify-content: space-between;

    .add-address-details {
      margin-top: 50px;

      p {
        max-width: 80%;
      }
    }

    button.save-new-address {
      width: 150px;
      margin-top: 30px;
    }

    .address-row {
      .btn {
        margin: 5px 10px;
      }
    }
  }
}
.ReactModal__Overlay {
  z-index: 100;
}
.modal-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.875rem;

  @media (min-width: $breakpoint-large) {
    width: 500px;
  }

  .modal-info {
    display: flex;
    justify-content: center;
    padding: 15px;
    border: 1px solid $darkGray;
    background-color: $lightGray;

    img.padded-icon {
      padding-bottom: 5px;
      margin-top: 16px;
    }

    .modal-text {
      width: 330px;
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
      &:first-letter {
        text-transform: capitalize;
      }
    }
  }

  .file-preview {
    height: 400px;
    @media (min-width: $breakpoint-large) {
      height: 650px;
      width: 500px;
    }
  }

  .btn {
    margin: 20px auto 0 auto;
  }
}
.map-container {
  width: 400px;
  height: 300px;
}
.registered-addresses {
  margin: 10px;

  .name {
    width: 220px;
  }

  .distance {
    width: 200px;
  }

  .delete {
    width: 30px;
  }
}
div.error-space {
  height: 20px;
}
p.error-message {
  margin-top: 2px;
  font-size: 12px;
  color: red;
}

.collapsible-arrow {
  border: solid $corePurple1;
  padding: 7px;
  margin-right: 20px;
  transform: translateY(45deg);
  -webkit-transform: rotate(45deg);

  &.small {
    padding: 4px;
    margin: 0 0 0 10px;
  }

  &.down {
    border-width: 0 2px 2px 0;
    margin-bottom: 10px;

    &.small {
      margin-bottom: 5px;
    }
  }

  &.up {
    border-width: 2px 0 0 2px;
    margin-top: 10px;

    &.small {
      margin-bottom: 5px;
    }
  }
}

#eligibilityMessage {
  margin: 10px;
  font-size: 0.875rem;
}

#disclaimer {
  margin-bottom: 20px;
  font-size: 0.75rem;
}

#footer {
  margin-top: 10px;
  font-size: 0.75rem;
}

.checkbox:indeterminate {
  background: transparent !important;
}

.first-letter-capitalize {
  text-transform: lowercase;
  &:first-letter {
    text-transform: capitalize;
  }
}

.toggle-month-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.disabled-input-field {
  pointer-events: none;
  background-color: oklch(0.670171 0.014429 106.783 / 0.2);
  color: oklch(0.2 0 0 / 0.2);
  border: none;
}

.static {
  --animation-btn: 0;
}